<!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Sobre - Rocketseat</title>
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
    <div id="about">
        <img src="{{about.avatar_url}}" alt="{{about.avatar_alt}}">
        <h1>{{about.name}}</h1>
        <h2>{{about.description}}</h2>
        <p>Principais tecnologias:</p>
        <ul>
          {% for tech in about.techs %}
            <li>{{tech}}</li>
          {% endfor %}
        </ul>
    </div>

      <div id="links-footer" class="links">
        {% for social in about.socials%}
          <a href="{{social.url}}" target="_blank">{{social.name}}</a>
        {% endfor %}
      </div>
{% endblock %}