<!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Cursos - Rocketseat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
    <div id="courses">
      <h1>Cursos</h1>
    </div>

    <section class="cards">

      <!-- Laço para construção dos cards baseado no array data.js-->
      {% for item in items %}
        <div class="card" id="{{item.id}}">
          <div class="{{item.number_color}}">
            <p>{{item.number}}</p>
          </div>

          <div class="card_image">
            <img src="{{item.img}}" alt="{{item.alt}}">
          </div>

          <div class="{{item.modules_color}}">
            <h1>{{item.modules}}</h1>
          </div>

          <div class="card_price">
            <h2>{{item.price}}</h2>
          </div>
        </div>
      {% endfor %}

    </section>

    <script src="/scripts.js"></script>
{% endblock %}